/src/vendor
/src/tests/build
/src/composer.lock
/src/.scannerwork
/src/.env
/tests/vendor
/tests/loadtest/logs
/tests/loadtest/.token
/tests/loadtest/*.log
/tests/tests/_output
/tests/tests/_support/_generated
/ansible/build.zip
/ansible/.vault_pass
/.idea
/ansible/roles/gurkalov.lumen_deploy/molecule/default/src
