[app]
user = {{ php_fpm_user }}
group = {{ php_fpm_group }}
listen = {{ php_fpm_listen }}
chdir = /
pm = static
pm.max_children = 64
pm.start_servers = 2
pm.max_spare_servers = 3
pm.min_spare_servers = 1
