apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
data:
  DB_HOST: {{ .Values.app.postgres.host | quote }}
  DB_PORT: {{ .Values.app.postgres.port | quote }}
  DB_DATABASE: {{ .Values.app.postgres.db | quote }}
  DB_CONNECTION: {{ .Values.app.postgres.connection | quote }}
